<form class="form-container content" [formGroup]="userPlanPoints" (ngSubmit)="addUserPlan()" *ngIf="listPersonalHabits">
  <mat-checkbox *ngFor="let item of uniqueNamesGoals; let i = index" class="checkbox" color="primary"
    [formControlName]="item.id">
    {{ item.name }}
  </mat-checkbox>
  <div class="text-box">
    <mat-form-field>
      <input matInput [formControl]="currentCustomSettingsControl" minlength="4" maxlength="40" name="customSettings"
        matInput />
      <mat-hint>{{ currentCustomSettingsControl.value?.length }}/40
        symbols</mat-hint>
      <mat-error
        *ngIf="currentCustomSettingsControl.errors?.['latinCharactersOnly'] || currentCustomSettingsControl.errors?.['minlength']">
        Please enter a habit using only Latin characters (4-40)
      </mat-error>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="addCheckbox()" [disabled]="currentCustomSettingsControl.invalid"
      type="button">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <button class="set-btn" mat-raised-button color="primary" type="submit" [disabled]="!isCheckedFields()">Set</button>
</form>