<form class="form-container" [formGroup]="userPlanPoints" (ngSubmit)="addUserPlan()" *ngIf="listPersonalHabits">
  <mat-checkbox *ngFor="let item of uniqueNamesGoals; let i = index" class="checkbox" color="primary"
    [formControlName]="item.id">
    {{ item.name }}
  </mat-checkbox>
  <div class="text-box">
    <mat-form-field>
      <input matInput [(ngModel)]="currentCustomSettings" [ngModelOptions]="{standalone: true}" name="customSettings" />
      <mat-hint>{{ currentCustomSettings.length }}/240 symbols</mat-hint>
      <mat-error *ngIf="currentCustomSettings.length > 240">
        If possible, please enter more short habit
      </mat-error>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="addCheckbox()" type="button">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <button class="form-container-btn set-btn" mat-stroked-button color="primary" type="submit"
    [disabled]="!isCheckedFields()">Set</button>
</form>