:root {
    --primary-blue-color: rgb(41 57 135);
    --primary-green-color: #00b5af52;
    --gray-color: #e5e5e5;
    --accent-color: #fe9b51;
    --dark-font-color: #1e293b;
  }

  .primary-h2-font {
    color: var(--primary-blue-color);
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;
  }

