:root {
    --primary-blue-color: rgb(41 57 135);
    --primary-green-color: #00b5af52;
    --primary-green-font-color: #00B5AF;
    --gray-color: #e5e5e5;
    --accent-color: #fe9b51;
    --dark-font-color: #1e293b;
    --light-blue-color: #33369573;
    --warn-color: #d72638;
  }

 

