:root {
    --primary-blue-font: #337ff1;
    --accent-color: #fe9b51;;
    --gray-color: rgb(62 77 108);
    --gray-light-color:#d1d7dc;
    --white-color: #f6f9fee7;
    --milk-color: #ffffff;
    --warn-color: #d72638;
    --dark-bg-color: #1e293b;
  }