.page {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.btn-primary {
  color: var(--gold-color);
}

.btn-accent {
  color: #424242;
}