.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 30px 0 30px;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.green-box {
  margin-top: 20px;
  padding: 25px;  
  max-width: 400px;
  min-width: 200px;
  background-color: var(--primary-green-color);
  border-radius: 10px;
}

.btn-primary {
  color: var(--gold-color);
}

.page {
  height: 100%;
}

.primary-h2-font {
  margin-top: 20px;
  color: var(--primary-blue-color);
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}

.primary-h3-font {
  margin-top: 20px;
  color: var(--primary-blue-color);
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}

.primary-h3-font {
  color: var(--primary-blue-color);
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}

.set-btn {
  margin-top: auto;
  width: 170px;
  margin-bottom: 30px;
  align-self: center;
  color: #333695;
  border-color: #333695 !important;
  border: 2px solid !important;
  font-size: 20px;
}

