.footer {
  height: 4vh;
}

.container-core {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;

}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  height: 100%;
}

.mat-mdc-nav-list a {
  margin-right: 5px;
}


.content-page {
  padding-top: 40px;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  margin: auto 0;
  padding: 40px 40px;
  min-height: 20vh;
  background-color: var(--white-color);
  box-shadow: 0 1px 3px 0 #0000001a, 0 1px 12px 0 #0000000f;
  border-radius: 5px;
  text-align: justify;
}

.account-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

/*header*/
.header-content {
  display: flex;
  flex-direction: column;
}
.header-content__title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.header-content__subtitle {
  margin-bottom: 20px;
}

.header-content-data-no-exist {
  margin-bottom: 10px;
  border-bottom: 1px solid #d1d7dc;
}

.header-content__extra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.header-content__subtitle {
  margin-bottom: 20px;
}

.header-content__empty-data-message {
  margin-bottom: 20px;
}

.header-content__btn button:nth-child(1) {
  margin-right: 10px;
}

.title-notes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.describes-pages-actions {
  margin-bottom: 10px;
}

.material-icons {
  overflow: visible;
}

/*card*/
.mat-card-instruction {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

/*form*/

.user-form {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.mat-mdc-form-field-hint,
.mat-mdc-form-field-error {
  margin-top: -5px;
  text-align: center;
  font-size: 9px;
  line-height: 10px;
}

.password-checkbox {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*table*/
.mdc-data-table__header-cell {
  font-weight: 600;
  color: var(--gray-color);
}

.scrolling-container {
  max-height: 500px;
  overflow: auto;
  position: relative;
  z-index: 0;
}

#hover-table {
  tr:hover {
    background: whitesmoke;
  }
}

/*paginator*/
.mat-mdc-paginator-container {
  padding: 3px 8px;
}

/*menu*/
.mat-menu-content {
  padding: 30px;
}

/*spinner*/
.mat-mdc-progress-spinner {
  margin: 0 auto;
}

/*link*/
.link {
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: var(--accent-color);
  transition: 0.5s;
}

.link:not(:hover) {
  transition: 2s;
}



.mat-mdc-raised-button {
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  .header-admin-menu {
    display: none;
  }

  .account-box {
    display: block;
  }

  .page-content {
    padding: 25px 5px 25px 5px;
    overflow-x: auto;
  }

  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 0 5px 0 5px;
  }
  /*header start menu right btns*/
  .header-auth-register {
    display: flex;
    flex-wrap: nowrap;
  }
  .header-auth-register button:nth-child(1) {
    min-width: 90px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 415px) {
  .header-box-help__title {
    order: 1;
    margin-top: 5px;
  }
}
