.middle-bold-weight {
    font-weight: 800;
}
 
.bolder-weight {
    font-weight: 800;
}

.bold-weight {
  font-weight: 600;
}
  
.title-main {
  font-size: 40px;
  line-height: 1.2;
}

.title-super {
  font-size: 32px;
}
  
.title-middle {
    font-size: 30px;
  }
  
.title-mini {
    font-size: 24px;
  }
  
.common-text {
    font-size: 20px;
  }
  
  
.white-font {
    color: var(--milk-color);
  }
  
.primary-font {
    color: var(--primary-blue-font);
  }
  
.dark-gray-font {
    color: var(--gray-color);
  }
  
.accent-font {
    color: var(--accent-color);
  }