@import url('./commonstyles.scss');
@import url('./_variables.scss');
@import url('./theme.scss');

html,
body {
  height: 100%;
  color: var(--dark-font-color);
}

body {
  margin: 0 auto;
  font-family: 'Rubik', sans-serif !important;
  max-width: 800px;  
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


