@import url('./commonstyles.scss');
@import url('./_variables.scss');
@import url('./theme.scss');
@import url('./fonts.scss');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

html,
body {
  height: 100%;
  color: var(--dark-font-color);
}

body {
  margin: 0 auto;
  font-family: "Inder", sans-serif;
  max-width: 800px;  
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


