.header {
  display: flex;
  align-items: center;
  background-color: var(--primary-blue-color);
}

.header-container {
  padding-left: 5px;
  width: 100%;

}
.header-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
