<div class="page">
    <div class="main-container btn-container">
        <div class="box">
            <div class="observation-box item-box" (click)="clickObservationData()">
                <div class="item-box__title">Observation</div>
            </div>
            <div class="plan-box item-box">
                <div class="item-box__title" (click)="clickPlanCare()">Care plan</div>
            </div>
            <div class="drugs-box item-box">
                <div class="item-box__title">Drugs</div>
            </div>
        </div>
    </div>
</div>