.user-form {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
.mat-mdc-form-field {
  min-width: 250px;
}

.mat-icon {
  margin-left: -15px;
}

.user-form__password {
  margin-bottom: 10px;
}


.error input {
  background-color: #ffe6e6; /* Любой цвет, обозначающий ошибку */
}

.error div {
  color: red;
}

mat-error {
  font-size: 14px;
  text-align: center;
}


  