<div class="page">
    <div class="main-container">
        <div class="content">
            @if (carePlanItems && carePlanItems.length !==0) {
            <div class="data-box">
                <div class="data-box-header primary-h2-font">
                    Plan description:
                </div>
                <div class="data-box-list">
                    @for (item of carePlanItems; track item.code) {
                    <mat-card class="mat-card">
                        <mat-card-content>
                            <div class="item-name">{{item.carePlan}}</div>
                            <div class="data-box-item-result">
                                <div class="item item-goal"><b>goal: </b>{{item.goal}}</div>
                                <div class="item" item><b>activity: </b> {{item.activity}}</div>
                                <div class="item"><b>start: </b> {{item.start | date:'mediumDate'}}</div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    }
                </div>

            </div>
            <button class="set-btn" mat-stroked-button color="primary" (click)="createOwnPlan.emit()">
                <span>{{ btnTitle }}</span>
            </button>
            }
            @if(carePlanItems?.length == 0 ) {
            <app-wrong-data [wrongMessage]="wrongMessage" [alertMessage]="alertMessage" [icon]="icon" />
            }
        </div>

    </div>
</div>