.data-box-header {
    margin-bottom: 20px;
}

.mat-card {
    margin-bottom: 5px;
    min-width: 300px;
}

.mat-card:last-child {
    margin-bottom: 10px;
}

.data-box-item-result {
    display: flex;
    justify-content: space-between;
}

.data-box-list {
    margin-bottom: 20px;
}

.item-name {
    margin-bottom: 7px;
    font-size: 20px;
    color: var(--primary-blue-color);
    font-weight: 500;  
}

.item-name::after {
    content: ('');
    border-bottom: 1px solid var(--primary-blue-color);
}

.user-value {
    font-size: 18px;
    color: var(--primary-green-font-color);
}

.user-data {
    font-size: 20px;
}
