.data-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-box-header {
    margin-bottom: 20px;
}

.mat-card {
    margin-bottom: 5px;
}

.mat-card:last-child {
    margin-bottom: 10px;
}

.data-box-item-result {
    display: flex;
    justify-content: space-between;
}

.normal-data {
    font-size: 20px;
    color: var(--primary-green-font-color);
}

.normal-data::after {
  content: ('(mine)');
  font-size: 12px;
}


.user-data {
    font-size: 20px;
}

.user-data::after {
    content: ('(date)');
    font-size: 12px;
  }