<div class="page">
    <div class="main-container">
        <div class="main-container__title primary-h2-font">
            My today’s goal
        </div>
        <div class="main-container__habbits-list ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dolorem eos nemo earum veniam
            asperiores vitae dolorum corrupti hic culpa amet rerum perferendis incidunt, aut odit odio! Alias, vero
            labore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum nisi consequuntur repudiandae corporis at,
            minima, nemo, quia commodi architecto accusantium voluptas! Maxime officia consequatur distinctio odio
            facilis quia magni!
        </div>
        <div><mat-card class="demo-inline-calendar-card">
                <!-- calendar.component.html -->
                <mat-calendar [dateClass]="getCellCssClasses"></mat-calendar>

            </mat-card>
            <p>Selected date: {{selected}}</p>
        </div>
    </div>
</div>