.main-container {
  &__title {
      margin-bottom: 20px;
  } 

  &__period {
    text-align: center;
    border-bottom: 1px solid var(--primary-green-font-color);
  }

  &__data {
    text-align: center;
    background-color: var(--primary-green-font-color);
  }

  &__habits-list {
    overflow-wrap: anywhere;
  }
}

.checkbox-container {   
  display: flex;
  flex-direction: column;  
  margin-bottom: 15px;  

}

.form-container {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 20px 0 20px 0;
}

/* calendar.component.css */
button.active-day {
  background-color: #00B5AF;
  border-radius: 10px;
}

.active-day {
  background-color: #00B5AF;
  border-radius: 10px;
}

button.half-active-day {
  background-color: #9DD0CE;
  border-radius: 10px;
}

.half-active-day {
  background-color: #9DD0CE;
  border-radius: 10px;
}

.message-noted-goals {
  margin: 30px 0 10px 0;
  text-align: center;
  color: var(--primary-green-font-color);
  font-size: 16px;
}

.message-noted-goals::before {
  content: ('\2713');
  margin-right: 5px;
}
