.main-container {
  &__title {
      margin-bottom: 20px;
  } 

  &__period {
    text-align: center;
    border-bottom: 1px solid var(--primary-green-font-color);
  }

  &__data {
    text-align: center;
    background-color: var(--primary-green-font-color);
  }
}

.checkbox-container {   
  display: flex;
  flex-direction: column;  
  margin-bottom: 15px;  

  &__btn {
    margin: 0 auto;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* calendar.component.css */
button.active-day {
  background-color: #00B5AF;
  border-radius: 10px;
}

button.half-active-day {
  background-color: #9DD0CE;
  border-radius: 10px;
}
