.main-container {
    &__description {
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 500;
    }

    &-plan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &-details__title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        color: var(--primary-blue-color);
        line-height: 25px;
        text-align: center;
    }

    &-details {
        max-width: 400px;
    }
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}