<div class="page">
    <div class="main-container">
        <div class="main-container-plan">
            <div class="main-container__description">
                Let's celebrate the small victories — a morning stretch, a nutritious meal, a moment of mindfulness.
                Health is a holistic journey, and every positive choice creates a ripple effect, enhancing your
                physical, mental, and emotional vitality.
            </div>
            <div class="main-container-details">

            </div>
        </div>
        <app-set-btn [btnTitle]="btnTitle" (click)="setYourDetailsPlan()" />
    </div>
</div>