<div class="page">
    <div class="main-container">
        <div class="main-container-plan">
            <div class="main-container__description green-box">
                Let's celebrate the small victories — a morning stretch, a nutritious meal, a moment of mindfulness.
                Health is a holistic journey, and every positive choice creates a ripple effect, enhancing your
                physical, mental, and emotional vitality.
            </div>
            <div class="main-container-details" *ngIf="listPersonalHabits">
                <div class="main-container-details__title">Pick a healthy habit or
                    set your own for the next 30 days</div>
                <div class="main-container-details__example">*Ex. meditation, 5000 steps. </div>
                <div class="form-container">
                    <app-create-plan-form (addUserCustomHabit)="addUserCustomHabit.emit($event)"
                        (submitUserPlan)="submitUserPlan.emit($event)"
                        [listPersonalHabits]="listPersonalHabits"></app-create-plan-form>
                </div>
            </div>
        </div>
    </div>
</div>