<button color="primary" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    @if ("isUserLogin") {
    <mat-icon>menu</mat-icon>
    }
    @else {
    <mat-icon>face</mat-icon>
    }

</button>
<mat-menu #menu="matMenu" color="primary">
    <div class="header-menu">

        @if ("isUserLogin") {
        <a mat-button color="primary" (click)="userLogout()">
            <mat-icon>menu</mat-icon>
            <span>Menu</span>
        </a>
        <a mat-button color="primary" (click)="userLogout()">
            <mat-icon>logout</mat-icon>
            <span>logout</span>
        </a>
        }
        <a mat-button color="primary" (click)="goToAboutPage()">
            <mat-icon>home</mat-icon>
            <span>About App</span>
        </a>
    </div>
</mat-menu>