<div class="page-light">
  <div class="main-container">
    <div class="page">
      <div class="content">
        <div class="title  primary-h3-font">About:</div>
        <div class="info-item">
          Welcome to Health Harbour, an all-in-one health companion! Our dedicated team has crafted an application that
          seamlessly combines the functionalities of a medical assistant with the power of habit tracking, designed to
          empower users on their journey to better health.
        </div>
        <div class="subtitle">Medical Assistant Features:</div>
        <div class="info-item">
          - Vital Signs Monitoring: Easily log and monitor essential health metrics such as blood pressure, providing
          users with valuable insights, ensuring them stay organized and never miss a follow-up.
          <br>
          - Personalized Care Plans: Collaborate with a personal doctor to create customized wellness plans tailored to
          the patient's unique needs.
        </div>
        <div class="subtitle">Medical Assistant Features:</div>
        <div class="info-item">
          - Daily Habit Tracking: Stay on course with health improvement goals by tracking and cultivating positive
          habits.
        </div>
        <div class="info-item">
          At Health Harbour, we believe that managing health should be comprehensive, intuitive, and empowering.
        </div>
        <div class="info-item">
          Download Health Harbor now and take charge of your well-being!
        </div>

        <div class="title  primary-h3-font">Features and technical description</div>
        <div class="subtitle">How to run </div>
        <div class="info-item">
          Execute the following commands in the terminal to start the project:
        </div>
        <div class="info-item-code">git clone https://github.com/banksiaglobal/MyYearOfHealth
        </div>
        <div class="info-item-code">docker compose up -d --build
        </div>
        <div class="info-item">The application <span class="bold-item">backend</span> is available at <a
            class="info-item-link bold-item" href="http://localhost:32783/" target="_blank">http://localhost:32783/</a>
        </div>
        <div class="info-item">The application <span class="bold-item">frontend</span> is available at <a
            class="info-item-link bold-item" href="http://localhost:4200/" target="_blank">http://localhost:4200/</a>
        </div>
      </div>
      <div class="info-item-code">It uses <a class="info-item-link" href="http://localhost:32783/"
          target="_blank">swagger-ui</a> module to provide documentation and test environment for API.
      </div>
      <div class="subtitle">FHIR SQL BUILDER </div>
      <div class="title  primary-h3-font">Video:</div>
      <div class="info-item"> <a class="info-item-link bold-item" href="https://github.com/banksiaglobal/MyYearOfHealth"
          target="_blank">link</a>
      </div>
      <div class="title  primary-h3-font">Team:</div>
      <div class="info-item">
        <div class="subtitle">Developers of project: </div>
        <div class="info-item">/* team of <span class="bold-item">Banksia Global */</span> </div>
        <div>Backend: <a href="https://community.intersystems.com/user/maria-gladkova" target="_blank"><span
              class="bold-item">Maria Gladkova</span></a> </div>
        <div>Backend: <a href="https://community.intersystems.com/user/maria-nesterenko" target="_blank"><span
              class="bold-item">Maria Nesterenko</span></a> </div>
        <div>Frontend: <a href="https://community.intersystems.com/user/katsiaryna-shaustruk" target="_blank"><span
              class="bold-item">Katsiaryna Shaustruk</span></a> </div>
        <div>QA / design:<a href="https://community.intersystems.com/user/alena-krasinskiene" target="_blank"><span
              class="bold-item"> Alena Krasinskiene</span></a> </div>
      </div>
      <div class="title  primary-h3-font">Documentation:</div>
      <div class="info-item"> <a class="info-item-link bold-item" href="https://github.com/banksiaglobal/MyYearOfHealth"
          target="_blank">link</a>
      </div>
    </div>
    @if(!isUserLogin) {
    <button class="registre-box" mat-stroked-button color=" primary" (click)=" logIn()">
      Boost your health
      <mat-icon color="primary">self_improvement</mat-icon>
    </button>
    }
  </div>
</div>